Слайды Python (А.Г Дьяконов)
https://alexanderdyakonov.wordpress.com/2016/10/12/питон-python/

Слайды Pandas (А.Г Дьяконов)
https://alexanderdyakonov.wordpress.com/2015/11/06/знакомство-с-pandas-слайды/

Лекции по Python (Сергей Лебедев): 
https://compscicenter.ru/courses/python/2015-autumn/

# Python. Типы.

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

Базовые типы:
1. None
2. Логические (True, False)
3. Числовые (int, float, complex)
4. Изменяемые коллекции (list, set, dict)
5. Неизменяемые коллекции (tuple, frozenset)

In [38]:
# a = None
# b = None
# print id(a) == id(b)
# print id(5) == id(5)
# print id(172) == id(272)

# Модуль Collections

1. Tuple-like (namedtuple)
2. List-like (deque)
3. Dict-like (Counter, OrderedDict, defaultdict)

In [116]:
from collections import namedtuple, deque, \
                        Counter, OrderedDict, \
                        defaultdict

# Коллекции

## Базовые методы

len - длина коллекции
elem in collection, elem not in collection # разная сложность операций для разных collection
del - удаление элемента

In [46]:
print tuple(), (), (1,), (1,)*3
print list(), [1] * 2, [[]] * 2
print set()
print dict(), {}

() () (1,) (1, 1, 1)
[] [1, 1] [[], []]
set([])
{} {}

In [58]:
a = [1, 2, 3, 4, 5]
del a[1]
print a
print 1 in a, 2 in a, 'asd' in a

[1, 3, 4, 5]
True False False

In [60]:
d = {'key_1': 1, 'key_2': 2}
del d['key_1']
print d
print 'key_2' in d, 2 in d

{'key_2': 2}
True False

## Изменяемые vs Неизменяемые

In [1]:
# Изменяемые (list, set, dict, deque, Counter, OrderedDict, defaultdict)

lst = [1, 2, 3]
prev_id = id(lst)
print lst
lst += [4]  # lst.append(4)
new_id = id(lst)
print lst
print 'Has id changed (list)?', prev_id != new_id

[1, 2, 3]
[1, 2, 3, 4]
Has id changed (list)? False

In [2]:
# Неизменяемые (tuple, namedtuple)
tpl = (1, 2, 3)
prev_id = id(tpl)
print tpl
tpl += (4,)  # Запятая нужна! 
print tpl
new_id = id(tpl)
print 'Has id changed (tuple)?', prev_id != new_id

(1, 2, 3)
(1, 2, 3, 4)
Has id changed (tuple)? True

## Сложность
https://wiki.python.org/moin/TimeComplexity

# Tuple

In [94]:
# http://stackoverflow.com/questions/6153348/time-complexity-of-tuple-in-python
profile = (1, 'Pavel', 'Durov', 1984, 'Telegram')

In [84]:
name = profile[1:3]

In [121]:
name

('Pavel', 'Durov')

In [1]:
NAME_SLICE = slice(1, 3)

In [90]:
print profile[NAME_SLICE]

('Pavel', 'Durov')

# Namedtuple

In [2]:
from collections import namedtuple
fiels = ['vk_id', 'name', 'surname', 'year', 'work']
VkProfile = namedtuple('VkProfile', fiels, verbose=True)

class VkProfile(tuple):
    'VkProfile(vk_id, name, surname, year, work)'

    __slots__ = ()

    _fields = ('vk_id', 'name', 'surname', 'year', 'work')

    def __new__(_cls, vk_id, name, surname, year, work):
        'Create new instance of VkProfile(vk_id, name, surname, year, work)'
        return _tuple.__new__(_cls, (vk_id, name, surname, year, work))

    @classmethod
    def _make(cls, iterable, new=tuple.__new__, len=len):
        'Make a new VkProfile object from a sequence or iterable'
        result = new(cls, iterable)
        if len(result) != 5:
            raise TypeError('Expected 5 arguments, got %d' % len(result))
        return result

    def __repr__(self):
        'Return a nicely formatted representation string'
        return 'VkProfile(vk_id=%r, name=%r, surname=%r, year=%r, work=%r)' % self

    def _asdict(self):
        'Return a new OrderedDict which maps field names to their values'
        return OrderedDict(zip(self._fields, self))

    def _replace(_self, **kwds):
        'Return a new VkProfile object replacing specified fields with new values'
        result = _self._make(map(kwds.pop, ('vk_id', 'name', 'surname', 'year', 'work'), _self))
        if kwds:
            raise ValueError('Got unexpected field names: %r' % kwds.keys())
        return result

    def __getnewargs__(self):
        'Return self as a plain tuple.  Used by copy and pickle.'
        return tuple(self)

    __dict__ = _property(_asdict)

    def __getstate__(self):
        'Exclude the OrderedDict from pickling'
        pass

    vk_id = _property(_itemgetter(0), doc='Alias for field number 0')

    name = _property(_itemgetter(1), doc='Alias for field number 1')

    surname = _property(_itemgetter(2), doc='Alias for field number 2')

    year = _property(_itemgetter(3), doc='Alias for field number 3')

    work = _property(_itemgetter(4), doc='Alias for field number 4')

In [5]:
profile_nt = VkProfile(vk_id=1, name='Pavel', 
                       surname='Durov', 
                       year=1984, 
                       work='Telegram')

In [6]:
profile_nt.name, profile_nt.surname

('Pavel', 'Durov')

In [7]:
profile_nt._replace(work='new job')

VkProfile(vk_id=1, name='Pavel', surname='Durov', year=1984, work='new job')

In [8]:
profile_nt._asdict()

OrderedDict([('vk_id', 1),
             ('name', 'Pavel'),
             ('surname', 'Durov'),
             ('year', 1984),
             ('work', 'Telegram')])

# List

## Базовые операции

In [16]:
a = ['start']

# Добавление одного элемента в конец списка
a.append(1)  # O(1)
print a

['start', 1]

In [17]:
# Добавление k элементов в конец списка
a.extend([2, 3])  # O(k)
print a

['start', 1, 2, 3]

In [18]:
# Доступ к элементу по индексу
print a[0]  # O(1)

start

In [19]:
# Вставка элемента внутрь списка
a.insert(2, 'new_element')  # O(n)
print a

['start', 1, 'new_element', 2, 3]

In [20]:
# Удаление элемента из списка по индексу
ret = a.pop(1)  # O(n) - с вовзращением элемента
print ret, a
del a[1]  # O(n) - без вовзращения элемента
print ret, a

1 ['start', 'new_element', 2, 3]
1 ['start', 2, 3]

In [22]:
# Сортировка https://en.wikipedia.org/wiki/Timsort
print sorted(a)  # без изменения исходного списка
print a
a.sort()  # с изменением исходного списка
print a

[2, 3, 'start']
['start', 2, 3]
[2, 3, 'start']

In [54]:
# Наличие элемента в списке
'start' in a  # O(n) !!!

True

## Особенности копирования

### Как не работает?

In [3]:
x = [[0]] * 2
x

[[0], [0]]

In [4]:
x[0][0] = 1
x

[[1], [1]]

In [5]:
id(x[0]) == id(x[1])

True

In [6]:
y = x + x
y

[[1], [1], [1], [1]]

In [7]:
y[0][0] = 2
y

[[2], [2], [2], [2]]

### А как работает?

In [32]:
x = [[0] for x in xrange(2)]
print x
x[0][0] = 1
print x

[[0], [0]]
[[1], [0]]

### Как скопировать список?

In [8]:
x = [1, 2, 3]
y = x
id(x) == id(y)

True

In [9]:
y = x[:]
print 'y=x[:]', id(x) == id(y)

y = list(x)
print 'y=list(x)', id(x) == id(y)

from copy import copy
y = copy(x)
print 'y=copy(x)', id(x) == id(y)

y=x[:] False
y=list(x) False
y=copy(x) False

In [10]:
x = [[1, 2], [3, 4]]

In [48]:
y = x[:]
print 'y=x[:]', id(x[0]) == id(y[0])

y = list(x)
print 'y=list(x)', id(x[0]) == id(y[0])

from copy import copy
y = copy(x)
print 'y=copy(x)', id(x[0]) == id(y[0])

 y=x[:] True
y=list(x) True
y=copy(x) True

In [50]:
from copy import deepcopy
y = deepcopy(x)
print id(x[0]) == id(y[0])

False

# Deque

In [62]:
from collections import deque

In [63]:
deq = deque([1, 2, 3])

In [64]:
deq.append(100)  # O(1)
print deq

deque([1, 2, 3, 100])

In [65]:
deq.appendleft(-7)  # O(1)
print deq

deque([-7, 1, 2, 3, 100])

In [73]:
# Добавление и удаление элемента с обеих сторон очереди работает за константное время.
# Но нет slice! 
deq[1:3]

TypeError: sequence index must be integer, not 'slice'

### Очереди с ограниченной длинной можно создать с помощью параметра max_len
deq = deque([1, 2, 3], maxlen=3)

# Множества (set, frozenset)

### Общее frozenset и set

### В Python — это хеш-сет, то есть оно может содержать только элементы, которые можно захешировать (неизменяемые типы - хешируемые, изменяемые - нет)

In [99]:
{(2, 3)}

{(2, 3)}

In [100]:
{[2, 3]}

TypeError: unhashable type: 'list'

In [101]:
{set(), set()}

TypeError: unhashable type: 'set'

In [102]:
{frozenset(), frozenset()}

{frozenset()}

In [ ]:
elems = {1, 2, 'py'}

In [77]:
print 1 in elems  # O(1) !!! 
print 'py' in elems  # O(1) !!!

True
True

In [81]:
# Объединение
print elems.union({1, 4})
print elems | {1, 4}

set([1, 2, 'py', 4])
set([1, 2, 'py', 4])

In [82]:
# Пересечение
print elems.intersection({1, 4})
print elems & {1, 4}

set([1])
set([1])

In [86]:
# Разность
print elems.difference({1, 4})
print elems - {1, 4}

set([2, 'py'])
set([2, 'py'])

In [12]:
# Вложения
a = {1, 3}
b = {2, 3}
print a >= b
print a > b
print a < b

False
False
False

### Только set

In [93]:
# Добавление
a.add(5)
a.update([1, 5])
# Удаление
a.remove(5) # remove удаляет из множества существующий элемент или 
            # поднимает исключение, если элемент во множестве не содержится
a.discard(5) # discard удаляет элемент, только если он содержится во множестве

# Словари

In [127]:
d = {'a': 1, 'b': 2, 'c': 5, 'd': 'yes'}
d = dict(a=1, b=2, c=5, d='yes')

In [128]:
# Проверка наличия ключа в словаре
'a' in d  # O(1) !!!

True

In [129]:
key = 'default'
default_val = 'default'
# Следующее равносильно
print d[key] if key in d else default_val
print d.get(key, default_val)
print d[key]

default
default

KeyError: 'default'

In [130]:
print d.keys()
print d.values()
print d.items()

['a', 'c', 'b', 'd']
[1, 5, 2, 'yes']
[('a', 1), ('c', 5), ('b', 2), ('d', 'yes')]

In [131]:
# Добавление в словарь
d['z'] = 0
print d
d.update({'y': -1, 'w': -2})
print d

{'a': 1, 'c': 5, 'b': 2, 'd': 'yes', 'z': 0}
{'a': 1, 'c': 5, 'b': 2, 'd': 'yes', 'w': -2, 'y': -1, 'z': 0}

In [135]:
# Удаление из словаря
del d['a']

In [136]:
for k in d:  # тоже самое, что и d.keys()
    print k, d[k]

c 5
b 2
d yes
w -2
y -1
z 0

In [18]:
# Объединение словарей без их изменения
dct1 = {'a':1, 'b':2}
dct2 = {'b':3, 'c':4}
union = dct1.copy()
union.update(dct2)
print(union, dct1, dct2)

dct1 = {'a':1, 'b':2}
dct2 = {'b':3, 'c':4}
union  = dict(dct1, **dct2)  # про ** будет чуть позже
print(union, dct1, dct2)

({'a': 1, 'c': 4, 'b': 3}, {'a': 1, 'b': 2}, {'c': 4, 'b': 3})
({'a': 1, 'c': 4, 'b': 3}, {'a': 1, 'b': 2}, {'c': 4, 'b': 3})

In [20]:
# в Python нет switch, но есть словари) 
def fail_func():
    print('Fail')
    
def success_func():
    print('Success')
    
cases = {'case_1': fail_func, 'case_2': success_func}

cases['case_2']()

Success

## OrderedDict

In [150]:
from collections import OrderedDict
# словарь с ключами, упорядоченными по времени добавления
# Изменение значения по ключу не влияет на порядок ключей в словаре

## Counter

In [22]:
from collections import Counter

In [23]:
cnt = Counter([1, 1, 2, 1, 3])
cnt

Counter({1: 3, 2: 1, 3: 1})

In [24]:
cnt[0] += 1  # Нет ошибки !!!
cnt

Counter({0: 1, 1: 3, 2: 1, 3: 1})

In [29]:
cnt.most_common()

[(1, 3), (0, 1), (2, 1), (3, 1)]

In [159]:
c1 = Counter(foo=4, bar=-1) 
c2 = Counter(foo=2, bar=2)
print c1 + c2 # c1[k] + c2[k]
print c1 - c2 # c1[k] - c2[k]
print c1 & c2 # min(c1[k], c2[k])
print c1 | c2 # max(c1[k], c2[k])

Counter({'foo': 6, 'bar': 1})
Counter({'foo': 2})
Counter({'foo': 2})
Counter({'foo': 4, 'bar': 2})

# Упаковка и распаковка

In [166]:
def _max(x, y):
    if x > y:
        return x
    return y

In [167]:
_max(2, 3), _max(3, 2)

(3, 3)

In [47]:
def _max(a, *args, **kwargs):
    print 'args:', args, type(args)
    max_x = float('-inf')
    for x in args:
        if x > max_x:
            max_x = x
    return max_x

In [33]:
lst = [3, 1, 100, -2]
ss = {'a': 1, 'b': 2}
_max(*ss)

args: ('a', 'b') <type 'tuple'>

'b'

In [39]:
def return_x(**kwargs):
    print 'kwargs:', kwargs
    return kwargs.get('x')

In [40]:
return_x({'x': 100, 'y': 50})

kwargs: ({'y': 50, 'x': 100},)

AttributeError: 'tuple' object has no attribute 'get'

In [41]:
return_x(**{'x': 100, 'y': 50})

TypeError: return_x() got an unexpected keyword argument 'y'

# Itertools

In [210]:
it = iter(xrange(7))

print (next(it))
print (next(it))
print ([x for x in it])

 
print (next(it))

0
1
[2, 3, 4, 5, 6]

StopIteration:

In [226]:
a = iter([1, 2, 3])
b = iter([4, 5])
a + b

TypeError: unsupported operand type(s) for +: 'listiterator' and 'listiterator'

In [227]:
# Объединение итераторов
from itertools import chain
for x in chain(a, b):
    print x

1
2
3
4
5

In [228]:
list(a), list(b)

([], [])

In [230]:
# Срезы
from itertools import islice
a = iter([1, 2, 3])
b = iter([4, 5])

for x in islice(a, 1, 3):
    print x

2
3

In [241]:
# перестановки
from itertools import permutations
print list(permutations('AB'))

[('A', 'B'), ('B', 'A')]

In [242]:
# сочетания без повторений
from itertools import combinations
list(combinations('ABC', 2))

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [240]:
# сочетания c повторениями
from itertools import combinations_with_replacement
list(combinations_with_replacement('ABC', 2))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [238]:
# декартово произведение
from itertools import product

# Например, когда не знаешь глубину вложенного цикла
n = 3
cycles = [
    [1, 2],
    [3, 4],
    [5, 6]
]
for indecies in product(*cycles):
    print indecies

(1, 3, 5)
(1, 3, 6)
(1, 4, 5)
(1, 4, 6)
(2, 3, 5)
(2, 3, 6)
(2, 4, 5)
(2, 4, 6)

In [55]:
# декартово произведение
from itertools import product

# Например, когда не знаешь глубину вложенного цикла
n = 3
cycles = [
    xrange(3),
    xrange(4),
    xrange(2)
]
for i, j, k in product(*cycles):
    print i, j, k

0 0 0
0 0 1
0 1 0
0 1 1
0 2 0
0 2 1
0 3 0
0 3 1
1 0 0
1 0 1
1 1 0
1 1 1
1 2 0
1 2 1
1 3 0
1 3 1
2 0 0
2 0 1
2 1 0
2 1 1
2 2 0
2 2 1
2 3 0
2 3 1

### GroupBy

In [86]:
# данные key - value
from itertools import groupby
data = [
    ('Factory A', 'day 1', 100),
    ('Factory B', 'day 1', 200),
    ('Factory C', 'day 1', 300),
    
    ('Factory A', 'day 2', 175),
    ('Factory B', 'day 2', 115),
    ('Factory C', 'day 2', 100),
    
    ('Factory A', 'day 3', 500),
    ('Factory B', 'day 3', 800),
    ('Factory C', 'day 3', 1000)
]

In [87]:
# Сколько товара все фабрики произвели за каждый день
for (key, values) in groupby(data, lambda x: x[1]):
    print key, values

day 1 <itertools._grouper object at 0x112159690>
day 2 <itertools._grouper object at 0x112159750>
day 3 <itertools._grouper object at 0x1121597d0>

In [88]:
for (key, values) in groupby(data, lambda x: x[1]):
    s = 0
    for v in values:
        s += v[2]
    print key, s

day 1 600
day 2 390
day 3 2300

In [89]:
for (key, values) in groupby(data, lambda x: x[1]):
    print key, sum(v[2] for v in values)

day 1 600
day 2 390
day 3 2300

In [90]:
# Сколько каждая фабрика произвела за все дни
for (key, values) in groupby(data, lambda x: x[0]):
    print key, sum([v[2] for v in values])

Factory A 100
Factory B 200
Factory C 300
Factory A 175
Factory B 115
Factory C 100
Factory A 500
Factory B 800
Factory C 1000

In [91]:
data = sorted(data)

In [92]:
data

[('Factory A', 'day 1', 100),
 ('Factory A', 'day 2', 175),
 ('Factory A', 'day 3', 500),
 ('Factory B', 'day 1', 200),
 ('Factory B', 'day 2', 115),
 ('Factory B', 'day 3', 800),
 ('Factory C', 'day 1', 300),
 ('Factory C', 'day 2', 100),
 ('Factory C', 'day 3', 1000)]

In [100]:
for (key, values) in groupby(data, lambda x: x[0]):
    print key, np.mean([v[2] for v in values])

 Factory A 258.333333333
Factory B 371.666666667
Factory C 466.666666667

# Задания

GroupBy
0. Загрузите titanic dataset
1. Выясните среднюю стоимость (Fare) для каждого из классов (с помощью groupby в pandas)
2. Сделайте тоже самое, но уже с помощью groupby из itertools

Permutations
4. Посчитайте число перестановок из n элементов (n=2..7), в которых ни один элемент не находится на своем изначальном месте. 

Collections
5. Посчитайте частоты триграмм в тексте. 
В качестве текста возьмем имена и фамилии из titanic dataset (text = ' '.join(data.Name.str.lower().values)).

In [67]:
import pandas as pd
import numpy as np

In [102]:
data = pd.read_csv('titanic.csv')

In [110]:
agg_funcs = {
    'Age': [np.mean, 'max', 'std', 'count'],
    'Sex': ['nunique', 'count'],
    'Survived': 'mean'
}

In [113]:
data.groupby(['Pclass', 'Embarked']).agg(agg_funcs)

                       Age                         Survived     Sex
                      mean   max        std count      mean nunique count
Pclass Embarked
1      C         38.027027  71.0  14.243454    74  0.694118       2    85
       Q         38.500000  44.0   7.778175     2  0.500000       2     2
       S         38.152037  80.0  15.315584   108  0.582677       2   127
2      C         22.766667  36.0  10.192551    15  0.529412       2    17
       Q         43.500000  57.0  19.091883     2  0.666667       2     3
       S         30.386731  70.0  14.080001   156  0.463415       2   164
3      C         20.741951  45.5  11.712367    41  0.378788       2    66
       Q         25.937500  70.5  16.807938    24  0.375000       2    72
       S         25.696552  74.0  12.110906   290  0.189802       2   353

In [120]:
from collections import defaultdict, Counter

In [126]:
d = defaultdict(list)

In [128]:
d[0].append(2)

In [129]:
d

defaultdict(list, {0: [2]})

In [105]:
data.groupby('Pclass')['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [106]:
b = data.sort_values(by='Age').values

In [107]:
a = sorted(data.values, key=lambda x: x[5])

In [108]:
data_np = data.values

In [109]:
c = data_np[data_np[:, 5].argsort()]

In [131]:
from itertools import permutations

In [152]:
for n in xrange(2, 5):
    s = 0
    good_perms = []
    for perm in permutations(xrange(n)):
        if all([i != v for i, v in enumerate(perm)]):
            good_perms.append(perm)
        
    print n, good_perms

2 [(1, 0)]
3 [(1, 2, 0), (2, 0, 1)]
4 [(1, 0, 3, 2), (1, 2, 3, 0), (1, 3, 0, 2), (2, 0, 3, 1), (2, 3, 0, 1), (2, 3, 1, 0), (3, 0, 1, 2), (3, 2, 0, 1), (3, 2, 1, 0)]

In [138]:
text = ' '.join(data.Name.str.lower().values)

In [145]:
text

'braund, mr. owen harris cumings, mrs. john bradley (florence briggs thayer) heikkinen, miss. laina futrelle, mrs. jacques heath (lily may peel) allen, mr. william henry moran, mr. james mccarthy, mr. timothy j palsson, master. gosta leonard johnson, mrs. oscar w (elisabeth vilhelmina berg) nasser, mrs. nicholas (adele achem) sandstrom, miss. marguerite rut bonnell, miss. elizabeth saundercock, mr. william henry andersson, mr. anders johan vestrom, miss. hulda amanda adolfina hewlett, mrs. (mary d kingcome)  rice, master. eugene williams, mr. charles eugene vander planke, mrs. julius (emelia maria vandemoortele) masselmani, mrs. fatima fynney, mr. joseph j beesley, mr. lawrence mcgowan, miss. anna "annie" sloper, mr. william thompson palsson, miss. torborg danira asplund, mrs. carl oscar (selma augusta emilia johansson) emir, mr. farred chehab fortune, mr. charles alexander o\'dwyer, miss. ellen "nellie" todoroff, mr. lalio uruchurtu, don. manuel e spencer, mrs. william augustus (marie eugenie) glynn, miss. mary agatha wheadon, mr. edward h meyer, mr. edgar joseph holverson, mr. alexander oskar mamee, mr. hanna cann, mr. ernest charles vander planke, miss. augusta maria nicola-yarred, miss. jamila ahlin, mrs. johan (johanna persdotter larsson) turpin, mrs. william john robert (dorothy ann wonnacott) kraeff, mr. theodor laroche, miss. simonne marie anne andree devaney, miss. margaret delia rogers, mr. william john lennon, mr. denis o\'driscoll, miss. bridget samaan, mr. youssef arnold-franchi, mrs. josef (josefine franchi) panula, master. juha niilo nosworthy, mr. richard cater harper, mrs. henry sleeper (myna haxtun) faunthorpe, mrs. lizzie (elizabeth anne wilkinson) ostby, mr. engelhart cornelius woolner, mr. hugh rugg, miss. emily novel, mr. mansouer west, miss. constance mirium goodwin, master. william frederick sirayanian, mr. orsen icard, miss. amelie harris, mr. henry birkhardt skoog, master. harald stewart, mr. albert a moubarek, master. gerios nye, mrs. (elizabeth ramell) crease, mr. ernest james andersson, miss. erna alexandra kink, mr. vincenz jenkin, mr. stephen curnow goodwin, miss. lillian amy hood, mr. ambrose jr chronopoulos, mr. apostolos bing, mr. lee moen, mr. sigurd hansen staneff, mr. ivan moutal, mr. rahamin haim caldwell, master. alden gates dowdell, miss. elizabeth waelens, mr. achille sheerlinck, mr. jan baptist mcdermott, miss. brigdet delia carrau, mr. francisco m ilett, miss. bertha backstrom, mrs. karl alfred (maria mathilda gustafsson) ford, mr. william neal slocovski, mr. selman francis fortune, miss. mabel helen celotti, mr. francesco christmann, mr. emil andreasson, mr. paul edvin chaffee, mr. herbert fuller dean, mr. bertram frank coxon, mr. daniel shorney, mr. charles joseph goldschmidt, mr. george b greenfield, mr. william bertram doling, mrs. john t (ada julia bone) kantor, mr. sinai petranec, miss. matilda petroff, mr. pastcho ("pentcho") white, mr. richard frasar johansson, mr. gustaf joel gustafsson, mr. anders vilhelm mionoff, mr. stoytcho salkjelsvik, miss. anna kristine moss, mr. albert johan rekic, mr. tido moran, miss. bertha porter, mr. walter chamberlain zabour, miss. hileni barton, mr. david john jussila, miss. katriina attalah, miss. malake pekoniemi, mr. edvard connors, mr. patrick turpin, mr. william john robert baxter, mr. quigg edmond andersson, miss. ellis anna maria hickman, mr. stanley george moore, mr. leonard charles nasser, mr. nicholas webber, miss. susan white, mr. percival wayland nicola-yarred, master. elias mcmahon, mr. martin madsen, mr. fridtjof arne peter, miss. anna ekstrom, mr. johan drazenoic, mr. jozef coelho, mr. domingos fernandeo robins, mrs. alexander a (grace charity laury) weisz, mrs. leopold (mathilde francoise pede) sobey, mr. samuel james hayden richard, mr. emile newsom, miss. helen monypeny futrelle, mr. jacques heath osen, mr. olaf elon giglio, mr. victor boulos, mrs. joseph (sultana) nysten, miss. anna sofia hakkarainen, mrs. pekka pietari (elin matilda dolck) burke, mr. jeremiah andrew, mr. edgardo samuel nicholls, mr. joseph charles andersson, mr. august edvard ("wennerstrom") ford, miss. robina maggie "ruby" navratil, mr. michel ("louis m hoffman") byles, rev. thomas roussel davids bateman, rev. robert james pears, mrs. thomas (edith wearne) meo, mr. alfonzo van billiard, mr. austin blyler olsen, mr. ole martin williams, mr. charles duane gilnagh, miss. katherine "katie" corn, mr. harry smiljanic, mr. mile sage, master. thomas henry cribb, mr. john hatfield watt, mrs. james (elizabeth "bessie" inglis milne) bengtsson, mr. john viktor calic, mr. jovo panula, master. eino viljami goldsmith, master. frank john william "frankie" chibnall, mrs. (edith martha bowerman) skoog, mrs. william (anna bernhardina karlsson) baumann, mr. john d ling, mr. lee van der hoef, mr. wyckoff rice, master. arthur johnson, miss. eleanor ileen sivola, mr. antti wilhelm smith, mr. james clinch klasen, mr. klas albin lefebre, master. henry forbes isham, miss. ann elizabeth hale, mr. reginald leonard, mr. lionel sage, miss. constance gladys pernot, mr. rene asplund, master. clarence gustaf hugo becker, master. richard f kink-heilmann, miss. luise gretchen rood, mr. hugh roscoe o\'brien, mrs. thomas (johanna "hannah" godfrey) romaine, mr. charles hallace ("mr c rolmane") bourke, mr. john turcin, mr. stjepan pinsky, mrs. (rosa) carbines, mr. william andersen-jensen, miss. carla christine nielsine navratil, master. michel m brown, mrs. james joseph (margaret tobin) lurette, miss. elise mernagh, mr. robert olsen, mr. karl siegwart andreas madigan, miss. margaret "maggie" yrois, miss. henriette ("mrs harbeck") vande walle, mr. nestor cyriel sage, mr. frederick johanson, mr. jakob alfred youseff, mr. gerious cohen, mr. gurshon "gus" strom, miss. telma matilda backstrom, mr. karl alfred albimona, mr. nassef cassem carr, miss. helen "ellen" blank, mr. henry ali, mr. ahmed cameron, miss. clear annie perkin, mr. john henry givard, mr. hans kristensen kiernan, mr. philip newell, miss. madeleine honkanen, miss. eliina jacobsohn, mr. sidney samuel bazzani, miss. albina harris, mr. walter sunderland, mr. victor francis bracken, mr. james h green, mr. george henry nenkoff, mr. christo hoyt, mr. frederick maxfield berglund, mr. karl ivar sven mellors, mr. william john lovell, mr. john hall ("henry") fahlstrom, mr. arne jonas lefebre, miss. mathilde harris, mrs. henry birkhardt (irene wallach) larsson, mr. bengt edvin sjostedt, mr. ernst adolf asplund, miss. lillian gertrud leyson, mr. robert william norman harknett, miss. alice phoebe hold, mr. stephen collyer, miss. marjorie "lottie" pengelly, mr. frederick william hunt, mr. george henry zabour, miss. thamine murphy, miss. katherine "kate" coleridge, mr. reginald charles maenpaa, mr. matti alexanteri attalah, mr. sleiman minahan, dr. william edward lindahl, miss. agda thorilda viktoria hamalainen, mrs. william (anna) beckwith, mr. richard leonard carter, rev. ernest courtenay reed, mr. james george strom, mrs. wilhelm (elna matilda persson) stead, mr. william thomas lobb, mr. william arthur rosblom, mrs. viktor (helena wilhelmina) touma, mrs. darwis (hanne youssef razi) thorne, mrs. gertrude maybelle cherry, miss. gladys ward, miss. anna parrish, mrs. (lutie davis) smith, mr. thomas asplund, master. edvin rojj felix taussig, mr. emil harrison, mr. william henry, miss. delia reeves, mr. david panula, mr. ernesti arvid persson, mr. ernst ulrik graham, mrs. william thompson (edith junkins) bissette, miss. amelia cairns, mr. alexander tornquist, mr. william henry mellinger, mrs. (elizabeth anne maidment) natsch, mr. charles h healy, miss. hanora "nora" andrews, miss. kornelia theodosia lindblom, miss. augusta charlotta parkes, mr. francis "frank" rice, master. eric abbott, mrs. stanton (rosa hunt) duane, mr. frank olsson, mr. nils johan goransson de pelsmaeker, mr. alfons dorking, mr. edward arthur smith, mr. richard william stankovic, mr. ivan de mulder, mr. theodore naidenoff, mr. penko hosono, mr. masabumi connolly, miss. kate barber, miss. ellen "nellie" bishop, mrs. dickinson h (helen walton) levy, mr. rene jacques haas, miss. aloisia mineff, mr. ivan lewy, mr. ervin g hanna, mr. mansour allison, miss. helen loraine saalfeld, mr. adolphe baxter, mrs. james (helene delaudeniere chaput) kelly, miss. anna katherine "annie kate" mccoy, mr. bernard johnson, mr. william cahoone jr keane, miss. nora a williams, mr. howard hugh "harry" allison, master. hudson trevor fleming, miss. margaret penasco y castellana, mrs. victor de satode (maria josefa perez de soto y vallejo) abelson, mr. samuel francatelli, miss. laura mabel hays, miss. margaret bechstein ryerson, miss. emily borie lahtinen, mrs. william (anna sylfven) hendekovic, mr. ignjac hart, mr. benjamin nilsson, miss. helmina josefina kantor, mrs. sinai (miriam sternin) moraweck, dr. ernest wick, miss. mary natalie spedden, mrs. frederic oakley (margaretta corning stone) dennis, mr. samuel danoff, mr. yoto slayter, miss. hilda mary caldwell, mrs. albert francis (sylvia mae harbaugh) sage, mr. george john jr young, miss. marie grice nysveen, mr. johan hansen ball, mrs. (ada e hall) goldsmith, mrs. frank john (emily alice brown) hippach, miss. jean gertrude mccoy, miss. agnes partner, mr. austen graham, mr. george edward vander planke, mr. leo edmondus frauenthal, mrs. henry william (clara heinsheimer) denkoff, mr. mitto pears, mr. thomas clinton burns, miss. elizabeth margaret dahl, mr. karl edwart blackwell, mr. stephen weart navratil, master. edmond roger fortune, miss. alice elizabeth collander, mr. erik gustaf sedgwick, mr. charles frederick waddington fox, mr. stanley hubert brown, miss. amelia "mildred" smith, miss. marion elsie davison, mrs. thomas henry (mary e finck) coutts, master. william loch "william" dimic, mr. jovan odahl, mr. nils martin williams-lambert, mr. fletcher fellows elias, mr. tannous arnold-franchi, mr. josef yousif, mr. wazli vanden steen, mr. leo peter bowerman, miss. elsie edith funk, miss. annie clemmer mcgovern, miss. mary mockler, miss. helen mary "ellie" skoog, mr. wilhelm del carlo, mr. sebastiano barbara, mrs. (catherine david) asim, mr. adola o\'brien, mr. thomas adahl, mr. mauritz nils martin warren, mrs. frank manley (anna sophia atkinson) moussa, mrs. (mantoura boulos) jermyn, miss. annie aubart, mme. leontine pauline harder, mr. george achilles wiklund, mr. jakob alfred beavan, mr. william thomas ringhini, mr. sante palsson, miss. stina viola meyer, mrs. edgar joseph (leila saks) landergren, miss. aurora adelia widener, mr. harry elkins betros, mr. tannous gustafsson, mr. karl gideon bidois, miss. rosalie nakid, miss. maria ("mary") tikkanen, mr. juho holverson, mrs. alexander oskar (mary aline towner) plotcharsky, mr. vasil davies, mr. charles henry goodwin, master. sidney leonard buss, miss. kate sadlier, mr. matthew lehmann, miss. bertha carter, mr. william ernest jansson, mr. carl olof gustafsson, mr. johan birger newell, miss. marjorie sandstrom, mrs. hjalmar (agnes charlotta bengtsson) johansson, mr. erik olsson, miss. elina mckane, mr. peter david pain, dr. alfred trout, mrs. william h (jessie l) niskanen, mr. juha adams, mr. john jussila, miss. mari aina hakkarainen, mr. pekka pietari oreskovic, miss. marija gale, mr. shadrach widegren, mr. carl/charles peter richards, master. william rowe birkeland, mr. hans martin monsen lefebre, miss. ida sdycoff, mr. todor hart, mr. henry minahan, miss. daisy e cunningham, mr. alfred fleming sundman, mr. johan julian meek, mrs. thomas (annie louise rowley) drew, mrs. james vivian (lulu thorne christian) silven, miss. lyyli karoliina matthews, mr. william john van impe, miss. catharina gheorgheff, mr. stanio charters, mr. david zimmerman, mr. leo danbom, mrs. ernst gilbert (anna sigrid maria brogren) rosblom, mr. viktor richard wiseman, mr. phillippe clarke, mrs. charles v (ada maria winfield) phillips, miss. kate florence ("mrs kate louise phillips marshall") flynn, mr. james pickard, mr. berk (berk trembisky) bjornstrom-steffansson, mr. mauritz hakan thorneycroft, mrs. percival (florence kate white) louch, mrs. charles alexander (alice adelaide slow) kallio, mr. nikolai erland silvey, mr. william baird carter, miss. lucile polk ford, miss. doolina margaret "daisy" richards, mrs. sidney (emily hocking) fortune, mr. mark kvillner, mr. johan henrik johannesson hart, mrs. benjamin (esther ada bloomfield) hampe, mr. leon petterson, mr. johan emil reynaldo, ms. encarnacion johannesen-bratthammer, mr. bernt dodge, master. washington mellinger, miss. madeleine violet seward, mr. frederic kimber baclini, miss. marie catherine peuchen, major. arthur godfrey west, mr. edwy arthur hagland, mr. ingvald olai olsen foreman, mr. benjamin laventall goldenberg, mr. samuel l peduzzi, mr. joseph jalsevac, mr. ivan millet, mr. francis davis kenyon, mrs. frederick r (marion) toomey, miss. ellen o\'connor, mr. maurice anderson, mr. harry morley, mr. william gee, mr. arthur h milling, mr. jacob christian maisner, mr. simon goncalves, mr. manuel estanslas campbell, mr. william smart, mr. john montgomery scanlan, mr. james baclini, miss. helene barbara keefe, mr. arthur cacic, mr. luka west, mrs. edwy arthur (ada mary worth) jerwan, mrs. amin s (marie marthe thuillard) strandberg, miss. ida sofia clifford, mr. george quincy renouf, mr. peter henry braund, mr. lewis richard karlsson, mr. nils august hirvonen, miss. hildur e goodwin, master. harold victor frost, mr. anthony wood "archie" rouse, mr. richard henry turkula, mrs. (hedwig) bishop, mr. dickinson h lefebre, miss. jeannie hoyt, mrs. frederick maxfield (jane anne forby) kent, mr. edward austin somerton, mr. francis william coutts, master. eden leslie "neville" hagland, mr. konrad mathias reiersen windelov, mr. einar molson, mr. harry markland artagaveytia, mr. ramon stanley, mr. edward roland yousseff, mr. gerious eustis, miss. elizabeth mussey shellard, mr. frederick william allison, mrs. hudson j c (bessie waldo daniels) svensson, mr. olof calic, mr. petar canavan, miss. mary o\'sullivan, miss. bridget mary laitinen, miss. kristina sofia maioni, miss. roberta penasco y castellana, mr. victor de satode quick, mrs. frederick charles (jane richards) bradley, mr. george ("george arthur brayton") olsen, mr. henry margido lang, mr. fang daly, mr. eugene patrick webber, mr. james mcgough, mr. james robert rothschild, mrs. martin (elizabeth l. barrett) coleff, mr. satio walker, mr. william anderson lemore, mrs. (amelia milley) ryan, mr. patrick angle, mrs. william a (florence "mary" agnes hughes) pavlovic, mr. stefo perreault, miss. anne vovk, mr. janko lahoud, mr. sarkis hippach, mrs. louis albert (ida sophia fischer) kassem, mr. fared farrell, mr. james ridsdale, miss. lucy farthing, mr. john salonen, mr. johan werner hocking, mr. richard george quick, miss. phyllis may toufik, mr. nakli elias, mr. joseph jr peter, mrs. catherine (catherine rizk) cacic, miss. marija hart, miss. eva miriam butt, major. archibald willingham leroy, miss. bertha risien, mr. samuel beard frolicher, miss. hedwig margaritha crosby, miss. harriet r andersson, miss. ingeborg constanzia andersson, miss. sigrid elisabeth beane, mr. edward douglas, mr. walter donald nicholson, mr. arthur ernest beane, mrs. edward (ethel clarke) padro y manent, mr. julian goldsmith, mr. frank john davies, master. john morgan jr thayer, mr. john borland jr sharp, mr. percival james r o\'brien, mr. timothy leeni, mr. fahim ("philip zenni") ohman, miss. velin wright, mr. george duff gordon, lady. (lucille christiana sutherland) ("mrs morgan") robbins, mr. victor taussig, mrs. emil (tillie mandelbaum) de messemaeker, mrs. guillaume joseph (emma) morrow, mr. thomas rowan sivic, mr. husein norman, mr. robert douglas simmons, mr. john meanwell, miss. (marion ogden) davies, mr. alfred j stoytcheff, mr. ilia palsson, mrs. nils (alma cornelia berglund) doharr, mr. tannous jonsson, mr. carl harris, mr. george appleton, mrs. edward dale (charlotte lamson) flynn, mr. john irwin ("irving") kelly, miss. mary rush, mr. alfred george john patchett, mr. george garside, miss. ethel silvey, mrs. william baird (alice munger) caram, mrs. joseph (maria elias) jussila, mr. eiriik christy, miss. julie rachel thayer, mrs. john borland (marian longstreth morris) downton, mr. william james ross, mr. john hugo paulner, mr. uscher taussig, miss. ruth jarvis, mr. john denzil frolicher-stehli, mr. maxmillian gilinski, mr. eliezer murdlin, mr. joseph rintamaki, mr. matti stephenson, mrs. walter bertram (martha eustis) elsbury, mr. william james bourke, miss. mary chapman, mr. john henry van impe, mr. jean baptiste leitch, miss. jessie wills johnson, mr. alfred boulos, mr. hanna duff gordon, sir. cosmo edmund ("mr morgan") jacobsohn, mrs. sidney samuel (amy frances christy) slabenoff, mr. petco harrington, mr. charles h torber, mr. ernst william homer, mr. harry ("mr e haven") lindell, mr. edvard bengtsson karaic, mr. milan daniel, mr. robert williams laroche, mrs. joseph (juliette marie louise lafargue) shutes, miss. elizabeth w andersson, mrs. anders johan (alfrida konstantia brogren) jardin, mr. jose neto murphy, miss. margaret jane horgan, mr. john brocklebank, mr. william alfred herman, miss. alice danbom, mr. ernst gilbert lobb, mrs. william arthur (cordelia k stanlick) becker, miss. marion louise gavey, mr. lawrence yasbeck, mr. antoni kimball, mr. edwin nelson jr nakid, mr. sahid hansen, mr. henry damsgaard bowen, mr. david john "dai" sutton, mr. frederick kirkland, rev. charles leonard longley, miss. gretchen fiske bostandyeff, mr. guentcho o\'connell, mr. patrick d barkworth, mr. algernon henry wilson lundahl, mr. johan svensson stahelin-maeglin, dr. max parr, mr. william henry marsh skoog, miss. mabel davis, miss. mary leinonen, mr. antti gustaf collyer, mr. harvey panula, mrs. juha (maria emilia ojala) thorneycroft, mr. percival jensen, mr. hans peder sagesser, mlle. emma skoog, miss. margit elizabeth foo, mr. choong baclini, miss. eugenie harper, mr. henry sleeper cor, mr. liudevit simonius-blumer, col. oberst alfons willey, mr. edward stanley, miss. amy zillah elsie mitkoff, mr. mito doling, miss. elsie kalvik, mr. johannes halvorsen o\'leary, miss. hanora "norah" hegarty, miss. hanora "nora" hickman, mr. leonard mark radeff, mr. alexander bourke, mrs. john (catherine) eitemiller, mr. george floyd newell, mr. arthur webster frauenthal, dr. henry william badt, mr. mohamed colley, mr. edward pomeroy coleff, mr. peju lindqvist, mr. eino william hickman, mr. lewis butler, mr. reginald fenton rommetvedt, mr. knud paust cook, mr. jacob taylor, mrs. elmer zebley (juliet cummins wright) brown, mrs. thomas william solomon (elizabeth catherine ford) davidson, mr. thornton mitchell, mr. henry michael wilhelms, mr. charles watson, mr. ennis hastings edvardsson, mr. gustaf hjalmar sawyer, mr. frederick charles turja, miss. anna sofia goodwin, mrs. frederick (augusta tyler) cardeza, mr. thomas drake martinez peters, miss. katie hassab, mr. hammad olsvigen, mr. thor anderson goodwin, mr. charles edward brown, mr. thomas william solomon laroche, mr. joseph philippe lemercier panula, mr. jaako arnold dakic, mr. branko fischer, mr. eberhard thelander madill, miss. georgette alexandra dick, mr. albert adrian karun, miss. manca lam, mr. ali saad, mr. khalil weir, col. john chapman, mr. charles henry kelly, mr. james mullens, miss. katherine "katie" thayer, mr. john borland humblen, mr. adolf mathias nicolai olsen astor, mrs. john jacob (madeleine talmadge force) silverthorne, mr. spencer victor barbara, miss. saiide gallagher, mr. martin hansen, mr. henrik juul morley, mr. henry samuel ("mr henry marshall") kelly, mrs. florence "fannie" calderhead, mr. edward pennington cleaver, miss. alice moubarek, master. halim gonios ("william george") mayne, mlle. berthe antonine ("mrs de villiers") klaber, mr. herman taylor, mr. elmer zebley larsson, mr. augus

In [143]:
cnt = Counter()
for i in xrange(len(text) - 2):
    trigramm = text[i:i+3]
    cnt[trigramm] += 1

In [144]:
cnt

Counter({'rev': 7,
         'all': 25,
         'nwe': 1,
         'sch': 6,
         'xtu': 1,
         'aub': 1,
         'aue': 2,
         'aud': 1,
         'aug': 14,
         'rek': 3,
         '(jo': 3,
         'ali': 22,
         'aum': 3,
         'aul': 5,
         'aun': 4,
         'xte': 2,
         'aur': 9,
         ' ta': 10,
         'alg': 1,
         '"an': 3,
         'sca': 3,
         'rem': 3,
         'fut': 2,
         'ble': 4,
         ' (b': 4,
         'ava': 2,
         'l/c': 1,
         'k, ': 26,
         'cmi': 1,
         'upi': 1,
         ' (g': 1,
         'au,': 1,
         'cma': 1,
         ' (f': 4,
         'lst': 1,
         'ree': 6,
         ' ka': 32,
         'me ': 2,
         ' ke': 9,
         ' kh': 1,
         ' ki': 9,
         'me)': 1,
         ' ko': 3,
         ' kl': 3,
         ' kr': 5,
         ' kv': 1,
         ' ku': 1,
         'alt': 8,
         'nen': 17,
         'nel': 10,
         'oze': 1,
         'nef': 2,
         'ned': 1,
         'nee': 1,
         'nec': 1,
         'nea': 2,
         'kun': 1,
         'jac': 10,
         'kul': 1,
         'nez': 1,
         'ney': 9,
         'nev': 1,
         'new': 4,
         'net': 2,
         'ner': 10,
         'nes': 22,
         'sli': 2,
         'mee': 3,
         'med': 2,
         ' k ': 1,
         'i b': 1,
         'mea': 1,
         'mel': 11,
         'meo': 1,
         'men': 2,
         'mei': 1,
         'met': 1,
         'mes': 25,
         'mer': 15,
         '"ar': 1,
         'mey': 4,
         'gli': 3,
         'ne,': 15,
         'wde': 1,
         'ne)': 5,
         'aks': 2,
         'gla': 7,
         'ne"': 2,
         'gle': 2,
         'ne ': 49,
         'dri': 4,
         'gly': 1,
         '(ro': 3,
         'ako': 4,
         'sjo': 2,
         'dro': 1,
         'akl': 2,
         'dra': 5,
         ' yr': 1,
         'dre': 15,
         'glu': 2,
         'ake': 2,
         'nk ': 6,
         'nk"': 1,
         'bry': 1,
         '"ka': 3,
         'nk,': 4,
         'nk-': 1,
         'a, ': 27,
         'bro': 9,
         'bri': 7,
         'org': 32,
         'bre': 5,
         'bra': 11,
         'dne': 4,
         'aus': 8,
         'orc': 1,
         'er ': 59,
         'er,': 71,
         'er-': 2,
         'er.': 41,
         'er)': 8,
         'nka': 1,
         'nke': 3,
         'nkh': 1,
         'nki': 3,
         'nkk': 1,
         'nko': 9,
         'rpi': 2,
         'ert': 40,
         'erv': 1,
         'erw': 1,
         'err': 4,
         'ers': 35,
         'y. ': 1,
         'ery': 2,
         'tne': 1,
         'ere': 5,
         'erg': 9,
         'era': 1,
         'erb': 1,
         'erc': 7,
         'erl': 5,
         'erm': 8,
         'ern': 27,
         'ero': 4,
         'erh': 2,
         'eri': 38,
         'erk': 3,
         'la,': 12,
         'la-': 2,
         'la)': 2,
         'l n': 1,
         'la ': 9,
         'al,': 4,
         'm-s': 1,
         'n")': 5,
         'mpe': 4,
         'uan': 2,
         'l k': 1,
         'n" ': 1,
         'ov,': 1,
         'hof': 1,
         'ena': 5,
         'enb': 3,
         'enc': 11,
         'end': 5,
         'ene': 10,
         'enf': 1,
         'eng': 6,
         'hon': 5,
         'eni': 8,
         'hol': 9,
         'hom': 26,
         'enn': 8,
         'eno': 5,
         'enp': 1,
         '"ha': 2,
         'enr': 38,
         'ens': 12,
         'hor': 13,
         'hos': 1,
         'hop': 2,
         'eny': 3,
         'enz': 2,
         'hoy': 3,
         'lal': 3,
         'ovs': 1,
         'lan': 26,
         'l d': 6,
         'lah': 5,
         'lai': 10,
         'lak': 1,
         'lad': 3,
         '"he': 1,
         'laf': 2,
         'lag': 1,
         'lab': 2,
         'lac': 3,
         's" ': 1,
         'ova': 2,
         'lay': 1,
         'f h': 2,
         'ove': 4,
         'lat': 1,
         'lau': 7,
         'lav': 2,
         'law': 2,
         'ovo': 1,
         'lar': 13,
         'las': 8,
         'en ': 39,
         'en"': 2,
         'ho"': 1,
         'ho ': 6,
         'en)': 5,
         'ho,': 1,
         'en,': 53,
         'en-': 2,
         'i p': 1,
         'w, ': 3,
         'mps': 2,
         'zeb': 2,
         'zef': 1,
         'o")': 1,
         'zen': 2,
         'zer': 1,
         'l w': 6,
         'zet': 1,
         'ima': 4,
         'fis': 4,
         'imb': 2,
         '"pe': 1,
         'cli': 7,
         'gs ': 3,
         'imi': 1,
         'cle': 3,
         'imm': 2,
         'cla': 6,
         'imo': 6,
         'l r': 1,
         'imp': 3,
         'fia': 6,
         'cly': 1,
         'fie': 7,
         'fik': 1,
         'fin': 4,
         'aru': 1,
         'ews': 5,
         'im ': 5,
         'im,': 2,
         'vy,': 1,
         '(sa': 1,
         '(se': 2,
         '(gr': 1,
         'nt)': 2,
         'nt,': 3,
         '(su': 1,
         'nt ': 1,
         '(sy': 1,
         'gom': 1,
         'gol': 6,
         'goo': 6,
         'gon': 2,
         ' zi': 2,
         'h w': 7,
         ' ze': 3,
         'god': 2,
         'dst': 2,
         ' za': 2,
         'dss': 1,
         'smo': 2,
         'dso': 3,
         'is)': 3,
         'dsm': 3,
         'm (': 11,
         'smi': 8,
         'ajo': 2,
         'gou': 1,
         'got': 1,
         'gow': 1,
         'is ': 21,
         'dsc': 1,
         'gos': 2,
         'gor': 3,
         'jos': 23,
         'ntt': 2,
         'ntv': 1,
         'nti': 3,
         'nth': 5,
         'nto': 12,
         'nta': 2,
         'ntc': 3,
         'nte': 3,
         'ntg': 1,
         'atf': 1,
         'isz': 1,
         'isy': 2,
         'ate': 12,
         '(al': 4,
         '(am': 2,
         '(an': 7,
         'ata': 2,
         'iss': 183,
         'ato': 2,
         '(ad': 5,
         'go ': 2,
         'ath': 20,
         'ist': 18,
         'isk': 3,
         'att': 8,
         'ish': 8,
         '"no': 3,
         'ats': 3,
         'ds)': 3,
         'isc': 4,
         'isa': 5,
         '(au': 1,
         '"ne': 3,
         'nhe': 1,
         'nha': 2,
         ' l ': 3,
         ' l.': 1,
         '") ': 17,
         'kic': 3,
         'toy': 2,
         'tor': 20,
         'tow': 1,
         'tou': 3,
         'nz ': 1,
         'ton': 30,
         'too': 1,
         'tol': 1,
         'tom': 1,
         'tob': 2,
         'niu': 1,
         'tod': 4,
         ' le': 41,
         'me.': 1,
         ' la': 28,
         ' lo': 15,
         ' kn': 2,
         'ads': 1,
         ' li': 14,
         'h) ': 3,
         ' lu': 8,
         'tef': 2,
         ' fu': 4,
         ' ly': 1,
         'jj ': 1,
         'kni': 1,
         'osb': 4,
         'kto': 5,
         'ias': 8,
         'to ': 7,
         'fma': 1,
         'nzo': 1,
         'gg ': 1,
         'ty,': 2,
         'rad': 4,
         'rae': 1,
         '. y': 3,
         'rac': 4,
         'cyr': 1,
         'ran': 32,
         '. t': 34,
         'ral': 2,
         'ram': 7,
         '. q': 1,
         '. p': 30,
         '. s': 48,
         '. r': 33,
         '. m': 71,
         '. l': 32,
         '. o': 10,
         '. n': 18,
         'lbe': 11,
         '. h': 61,
         '. k': 26,
         '. j': 102,
         '. e': 85,
         '. d': 19,
         '. g': 31,
         '. f': 34,
         '. a': 95,
         '. c': 35,
         '. b': 21,
         'on,': 85,
         'do,': 1,
         'do ': 4,
         'x p': 1,
         'x t': 1,
         'hul': 1,
         'g e': 1,
         'ype': 2,
         'on ': 45,
         '-bl': 1,
         'ra"': 2,
         'thi': 6,
         'ra ': 17,
         'bst': 1,
         'ra,': 2,
         'bso': 2,
         '. (': 16,
         '-br': 1,
         'doh': 1,
         'doi': 1,
         'don': 5,
         'doo': 2,
         'dol': 10,
         'dom': 1,
         'dod': 1,
         ' fl': 9,
         ' y ': 5,
         'sun': 3,
         'dor': 8,
         'dos': 1,
         'dow': 2,
         'dot': 1,
         'dou': 3,
         'm a': 8,
         'kur': 1,
         'rst': 3,
         'och': 4,
         'ock': 7,
         'em ': 1,
         'oco': 1,
         'em,': 1,
         'em)': 1,
         'hrm': 1,
         'hro': 1,
         'hri': 8,
         'ba ': 1,
         'm i': 1,
         't "': 2,
         'abu': 1,
         'apo': 1,
         'v. ': 6,
         'dr.': 7,
         'eme': 3,
         'm, ': 31,
         'bau': 3,
         'bar': 15,
         'bas': 1,
         'bap': 3,
         'emb': 2,
         'emm': 3,
         'emo': 3,
         'emi': 17,
         'bax': 2,
         'hr,': 1,
         'bad': 1,
         'bac': 6,
         'ban': 4,
         'ldw': 2,
         'bal': 5,
         'hr ': 1,
         'bai': 3,
         'om"': 1,
         'nus': 1,
         'om-': 1,
         'om,': 18,
         'nul': 6,
         'nud': 1,
         'nue': 3,
         'l) ': 5,
         'il ': 7,
         'mur': 3,
         '(be': 4,
         'il,': 3,
         'irt': 1,
         'irv': 3,
         'irw': 1,
         'mue': 13,
         'co ': 5,
         'irk': 4,
         'irn': 1,
         'iro': 1,
         'un)': 1,
         'mun': 2,
         'ird': 2,
         'ire': 1,
         'irg': 2,
         'oma': 24,
         'omf': 1,
         'ome': 6,
         'hai': 1,
         'ask': 1,
         'omi': 1,
         'omo': 3,
         'elh': 2,
         'omm': 1,
         'oml': 1,
         'omp': 3,
         'hal': 14,
         'ham': 20,
         'ilg': 1,
         'ild': 12,
         'cor': 7,
         'unt': 4,
         'cot': 2,
         'cov': 1,
         'iln': 2,
         'ilo': 1,
         'ill': 101,
         'ilm': 3,
         'ilj': 3,
         'ilk': 1,
         'ilh': 7,
         'ili': 8,
         'ilv': 4,
         'a "': 7,
         'coc': 2,
         'cob': 5,
         'und': 15,
         'une': 4,
         'ir.': 1,
         'ung': 2,
         'coi': 1,
         'coh': 1,
         'unk': 2,
         'com': 2,
         'col': 14,
         'unn': 1,
         'con': 9,
         ' me': 14,
         'kwe': 1,
         ' ma': 167,
         ' mc': 13,
         'kwi': 2,
         ' mm': 1,
         'e g': 10,
         ' mo': 30,
         ' mi': 205,
         'kwo': 1,
         ' mu': 8,
         'ang': 6,
         'eld': 9,
         ' mr': 642,
         ' ms': 1,
         'ele': 18,
         ' my': 1,
         'san': 6,
         'fra': 26,
         'anb': 2,
         'fre': 32,
         'rga': 19,
         ' ri': 29,
         'fri': 5,
         'sal': 5,
         'fro': 3,
         'kon': 4,
         'sab': 6,
         'fry': 1,
         'ai ': 5,
         'ai"': 1,
         'k a': 2,
         'mcm': 2,
         'k c': 4,
         ' m ': 3,
         'k e': 1,
         'k f': 1,
         'k g': 2,
         'mcg': 3,
         'sag': 8,
         'k j': 8,
         'mcd': 1,
         'mcc': 4,
         'k m': 3,
         '(ti': 1,
         'k o': 2,
         'k r': 2,
         'k s': 2,
         'k t': 2,
         'k w': 4,
         'ank': 17,
         'har': 90,
         'ait': 1,
         ' yo': 8,
         'yot': 1,
         'ais': 3,
         'air': 3,
         'aim': 2,
         'ail': 1,
         'aio': 1,
         'ain': 11,
         'aii': 1,
         'aih': 1,
         'gne': 3,
         'gnj': 1,
         'sle': 5,
         'sla': 3,
         'aic': 1,
         'ni,': 9,
         'ni"': 1,
         'ni ': 4,
         'ld ': 16,
         'ki,': 4,
         'rno': 7,
         'ki ': 1,
         'akk': 3,
         'ado': 6,
         'aki': 5,
         'th,': 11,
         'sau': 1,
         'th)': 1,
         'n w': 14,
         'th ': 30,
         'nik': 2,
         'ko ': 5,
         'nii': 1,
         'nin': 8,
         'nio': 4,
         'nil': 6,
         'kis': 1,
         'nic': 9,
         'nia': 3,
         'nig': 1,
         'nie': 24,
         'tz ': 4,
         'kin': 16,
         'kim': 3,
         'kil': 1,
         'nir': 2,
         'nis': 5,
         'kia': 1,
         'ld,': 6,
         'aka': 2,
         'kie': 2,
         'kid': 2,
         'thy': 6,
         'n l': 16,
         'thu': 14,
         '-st': 2,
         'ths': 1,
         'tho': 37,
         'ur,': 2,
         'eph': 20,
         'the': 28,
         'epe': 3,
         'tha': 20,
         'epa': 1,
         'dse': 1,
         'rn,': 2,
         'ck)': 4,
         'yef': 1,
         'n e': 4,
         'via': 2,
         'n (': 14,
         'op,': 2,
         'yer': 15,
         'n g': 15,
         'k (': 3,
         'n "': 6,
         'elk': 2,
         'a (': 4,
         'eli': 50,
         'eln': 1,
         'elo': 3,
         'han': 49,
         'elm': 14,
         'elb': 1,
         'haa': 1,
         'hab': 1,
         'ela': 5,
         'had': 1,
         'hae': 3,
         'haf': 1,
         'hag': 2,
         'hax': 1,
         'hay': 7,
         'ely': 1,
         'hap': 3,
         'els': 15,
         'bna': 1,
         'has': 3,
         'hat': 1,
         'hav': 1,
         'haw': 2,
         'rni': 2,
         'rnh': 2,
         'n y': 1,
         'ye,': 1,
         'n z': 1,
         'n t': 6,
         'rna': 6,
         'n v': 3,
         'n p': 6,
         'n s': 11,
         'n r': 9,
         'n m': 22,
         'ope': 1,
         'n o': 5,
         'n n': 5,
         'n i': 6,
         'n h': 19,
         'n k': 5,
         'n j': 11,
         'rns': 8,
         'n d': 9,
         'rnq': 1,
         'n f': 5,
         'n a': 5,
         'lck': 1,
         'n c': 11,
         'rnt': 3,
         'a j': 6,
         'a k': 8,
         'a h': 11,
         'el)': 1,
         'a n': 3,
         'el,': 3,
         'a l': 4,
         'a m': 25,
         'ha ': 14,
         'a c': 11,
         'el ': 38,
         'a a': 16,
         'a f': 3,
         'a g': 8,
         'a d': 5,
         'a e': 8,
         'a b': 13,
         'a r': 7,
         'a s': 14,
         'a p': 13,
         'a q': 1,
         'a v': 3,
         'a w': 7,
         'a t': 4,
         'a u': 1,
         'ola': 13,
         'olc': 1,
         'old': 14,
         'ole': 6,
         'olf': 4,
         'oli': 9,
         'olk': 2,
         'oll': 9,
         'olm': 4,
         'oln': 1,
         'olo': 8,
         'olp': 1,
         'ols': 10,
         'olt': 1,
         'olv': 2,
         'r) ': 8,
         'ick': 35,
         'ich': 29,
         'ico': 3,
         'an"': 3,
         'for': 16,
         'ica': 1,
         'fox': 1,
         'ice': 17,
         'ume': 2,
         'uma': 2,
         'cna': 1,
         'umm': 1,
         'fon': 3,
         'foo': 1,
         'umi': 2,
         'ict': 8,
         'hsc': 1,
         'plu': 4,
         'eyc': 2,
         'ol.': 2,
         'awr': 2,
         'ple': 1,
         'pla': 3,
         'rg)': 1,
         'plo': 1,
         'obl': 1,
         'ic,': 20,
         'obe': 13,
         'obb': 3,
         'oba': 1,
         'fo ': 1,
         'um ': 1,
         'um,': 1,
         'um)': 1,
         'obs': 2,
         'mbl': 1,
         'ppa': 2,
         'aha': 8,
         'ars': 10,
         'mbi': 1,
         'ppe': 2,
         'sof': 6,
         'mbe': 6,
         'ahi': 3,
         'som': 2,
         'aho': 3,
         'ahl': 8,
         'd (': 10,
         'sop': 2,
         'sou': 2,
         'sot': 1,
         'aht': 1,
         ' d ': 3,
         'mbr': 1,
         'wan': 3,
         'wal': 12,
         'wah': 1,
         'wae': 1,
         'wad': 1,
         'o v': 2,
         'gig': 1,
         'gif': 1,
         'gie': 2,
         'gid': 2,
         'waz': 1,
         'way': 1,
         'gin': 4,
         'gil': 8,
         'was': 2,
         'war': 27,
         'ah"': 2,
         'so ': 1,
         'ah ': 4,
         'd d': 3,
         'd c': 9,
         'd b': 9,
         'd a': 7,
         'd o': 3,
         'd n': 3,
         'd m': 3,
         'd l': 10,
         'd k': 2,
         'd j': 8,
         'ah,': 4,
         'd h': 10,
         'd w': 4,
         'd v': 2,
         'd t': 3,
         'd s': 7,
         'd r': 3,
         'd p': 6,
         'd z': 1,
         'd y': 2,
         'mi,': 1,
         'azi': 2,
         'azl': 1,
         'aze': 1,
         '"lo': 2,
         '(ca': 3,
         'mi ': 2,
         '(ch': 2,
         '(co': 1,
         '(cl': 2,
         'nno': 8,
         ' "b': 1,
         'nni': 19,
         ' n ': 1,
         'nne': 16,
         'nna': 27,
         'kha': 3,
         'khe': 1,
         'rig': 5,
         'tiu': 1,
         'tis': 5,
         'til': 8,
         'tim': 3,
         'tin': 20,
         'tio': 1,
         'tik': 1,
         'tid': 1,
         'tie': 5,
         'tif': 1,
         'tia': 6,
         ' ni': 20,
         'nn,': 9,
         ' no': 10,
         ' na': 15,
         ' ne': 13,
         'nn ': 4,
         ' ny': 3,
         'h "': 4,
         'ti,': 1,
         'fss': 5,
         'ti ': 5,
         't w': 5,
         'roi': 1,
         'lly': 10,
         't t': 1,
         't s': 5,
         'rom': 14,
         'ron': 5,
         'roo': 1,
         'lls': 3,
         'rob': 14,
         'roc': 4,
         'ost': 6,
         'osw': 1,
         'rog': 5,
         'osi': 1,
         't f': 2,
         'lli': 96,
         't d': 5,
         'osm': 2,
         't b': 6,
         't a': 9,
         'rop': 1,
         't n': 2,
         'osc': 3,
         'ros': 15,
         'ose': 26,
         't j': 6,
         'lle': 33,
         'row': 9,
         'rne': 24,
         'ver': 10,
         'ves': 3,
         'pen': 10,
         'vey': 6,
         'ved': 1,
         'vee': 1,
         'ven': 11,
         'vel': 5,
         'ey ': 16,
         'lri': 2,
         'umb': 1,
         'dez': 1,
         'g s': 2,
         'os)': 1,
         'g m': 2,
         'll)': 3,
         ' "k': 3,
         'g h': 1,
         'os,': 5,
         'll,': 24,
         'g d': 2,
         'll"': 2,
         'll ': 6,
         'g a': 1,
         'g b': 1,
         't (': 7,
         'dil': 1,
         'dim': 1,
         'din': 3,
         'gug': 1,
         'gue': 3,
         'ge"': 1,
         'gui': 1,
         'dig': 1,
         'dib': 1,
         'dic': 4,
         'gus': 25,
         'gur': 2,
         'ge ': 25,
         've ': 1,
         'dit': 6,
         ' de': 22,
         'dis': 1,
         'ulr': 2,
         'w) ': 1,
         'hto': 1,
         'det': 1,
         'hti': 1,
         'ey,': 20,
         'dev': 2,
         'erd': 1,
         'ek,': 3,
         'bo ': 1,
         'den': 18,
         'nge': 6,
         'v, ': 1,
         'b f': 1,
         'ht)': 1,
         'rud': 4,
         'eko': 2,
         'ekl': 1,
         'ekk': 2,
         'eki': 1,
         'bor': 6,
         'bos': 1,
         'bot': 2,
         'bou': 9,
         'bow': 4,
         'bom': 2,
         'bon': 2,
         'boo': 1,
         'eks': 1,
         '-ya': 2,
         '"ma': 3,
         'hst': 1,
         'oo,': 1,
         '"mi': 1,
         '"mr': 8,
         'ips': 2,
         'ipp': 4,
         'uzz': 1,
         'oeb': 2,
         'ayl': 3,
         'ayo': 1,
         'ayn': 1,
         'ib,': 1,
         'ae ': 1,
         'aye': 4,
         'j p': 1,
         ...})